# Bonus: Temperature Analysis I

In [11]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import pandas as pd

import pandas as pd
import datetime as dt
from scipy import stats

In [12]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)
measurement = Base.classes.measurement
station = Base.classes.station

# Start a session to query the database
session = Session(engine)

In [13]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [14]:
# # Convert the date column format from string to date
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [15]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True,)
df.head(10)

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
2010-01-07  USC00519397  0.06    70
2010-01-08  USC00519397  0.00    64
2010-01-09  USC00519397  0.00    68
2010-01-10  USC00519397  0.00    73
2010-01-11  USC00519397  0.01    64

### Compare June and December data across all years

In [16]:
# Filter data for the month of June across all years
june_data = session.query(measurement.date, func.avg(measurement.tobs).\
    filter(measurement.date ==))

SyntaxError: invalid syntax (Temp/ipykernel_14116/2413060876.py, line 2)

In [ ]:
# Identify the average temperature for June

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis